body {
  background-color: rgb(248, 248, 248);
}

:root {
  --border: rgba(0,0,0,.11);
}

/* navbar styles */
.navbar {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
}

@media (max-width: 780px) {
  .navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 660px) {
  .navbar {
    padding: 1rem 1rem;
  }
}


#navbar-logo {
  margin: 10px 20px;
}

@media (max-width: 774px) {
  #navbar-logo img {
    width: 200px;
  }

  #navbar-logo {
    margin: 0;
  }
}

#navbar-left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar-links .nav-link {
  padding: 5px 10px;
  margin-left: 10px;
  color: var(--text);
  border: 1px solid transparent;
  transition: .3s ease-out;
  border-radius: 4px;
}

@media (max-width: 774px) {
  #navbar-links .nav-link {
    display: none;
  }
}

#navbar-links .nav-link:hover {
  border: 1px solid var(--accent);
}


#login-btn .btn {
  color: var(--text);
  margin-right: 20px;
  background-color: white;
  border: 1px solid var(--primary);
}

@media (max-width: 774px) {
  #login-btn .btn {
    display: none;
  }
}

#login-btn .btn:hover {
  color: var(--white);
  background-color: var(--primary);
}

#login-btn .btn i.fa {
  line-height: 1;
}

#navbar-toggler {
  margin: 0 15px;
  font-size: 30px;
  margin-left: 0;
}

@media (min-width: 774px) {
  #navbar-toggler {
    display: none;
    margin-right: 20px;
    margin-left: 20px;
  }
}

/* navbar collapse */

#navbar-collpase {
  display: none;
  text-align: center;
  padding: 1rem 0;
  background-color: white;
}

.active {
  display: block;
}

#navbar-collpase .navbar-collapse-link {
  color: var(--text);
  text-decoration: none;
  display: block;
  padding: 10px 0;
  font-size: 1rem;
}

#navbar-collpase .navbar-collapse-link:focus {
  color: var(--primary);
}

/* top banner */

#top-banner {
  position: relative;
  background-image: url("../img/sibtam-dark.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 2rem .5rem;
}

@media (min-width: 664px) {
  #top-banner {

  }
}

#top-banner-title {
  font-family: 'IRANYekanBold';
  font-size: 2rem;
}

@media (min-width: 664px) {
  #top-banner-title {
    font-size: 3rem;
  }

  small {
    font-size: 1rem;
  }
}

#delivery-time {
  max-width: 220px;
  margin: 1rem auto;
  font-size: .9rem;
  padding: .5rem .5rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
}

@media (min-width: 664px) {
  #delivery-time {
    padding: 1.4rem 0;
    margin-top: 1.2rem;
  }
}

#delivery-time .list-inline {
  padding-right: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

#delivery-time .list-inline-item {
  font-size: .8rem;
}

#delivery-state {
  padding: 1rem 1rem;
}

@media (min-width: 664px) {
  #delivery-state {
    position: absolute;
    right: 40px;
    bottom: 10px;
  }
}

#delivery-state i {
  vertical-align: middle;
  color: #4bca50;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: flash;
}

#delivery-state .fa-stack {
  font-size: .6rem;
}

#delivery-state i.fa-stack-2x {
  color: #318135;
}

@keyframes flash {
  0% {
    opacity: 0
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

/* shopping basket and order panel */
#panel-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 90%;
  position: relative;
  margin: 2rem auto;
  min-height: 800px;
}

#order-panel {
  padding: 20px;
  width: 100%;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, .2);
  padding-bottom: 120px;
}

@media (max-width: 902px) {
  #order-panel {
    padding: 20px 30px 120px 30px;
  }
}

#order-panel .category h3 {
  text-align: right;
  font-weight: bold;
}

#order-panel .category .row .col-4 {
  padding: 10px 5px 10px 5px;
}

@media (max-width: 400px) {
  .col-12 {
    padding: 0;
  }
}

.category .row .food-item {
  border: solid 1px rgba(0, 0, 0, .2);
  padding: 15px;
  text-align: right;
  margin-bottom: 25px;
}

.food-item img {
  width: 80%;
  display: block;
  margin: 0 auto 9px auto;
}

.food-item .food-title {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 1.4rem;
}

.food-item .quantity {
  font-size: 1.1rem;
  margin-left: 5px;
  margin-right: 5px;
}

.food-item i {
  font-size: 1.5rem;
}

.food-item .control {
  float: left;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.food-item .control .fal {
  margin-left: 5px;
  margin-right: 5px;
}

#order-panel .row.category {
  background-color: #ffc107;
  margin: 10px 10px;

}

#shopping-basket {
  background-color: white;
  border: solid 1px rgba(0, 0, 0, .2);
  width: 400px;
  margin-right: 1rem;
}

@media (max-width: 984px) {
  #panel-container {
    width: 100%;
  }

  #shopping-basket {
    display: none;
    position: fixed;
    left: 0px;
    top: 0vh;
    height: 100vh;
    max-width: 100%;
  }
}

/* shopping basket */

#sbp1{
  border-bottom: .5px var(--border) solid ;
  padding: 1rem 1rem .5rem 1rem;
}
#sbp1-garbage {
  float: left;
  font-size: 1.3rem;
  margin-top: 0px;
}
#sbp1-title{
  text-align: right;
  font-size: 1rem;
}

.sbp2{
  padding: .6rem 1rem .6rem 1rem;
  font-size: 1rem;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: .5px var(--border) solid ;
}

.sbp2 .sbp2-title{
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.sbp2 .sbp2-price{
  margin-top: 5px;
  font-size: .9rem;
}

.sbp2 .control {
  padding-top: 0;
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sbp2 .control .quantity{
  font-size: 1.4rem;
  margin-left: 5px;
  margin-right: 5px;
}
.sbp2 .control .fal {
  font-size: 1.4rem;
  margin-left: 5px;
  margin-right: 5px;
}

#sbp3{
  margin-bottom: 1rem;
}
#sbp3 #sbp3-discount{
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#sbp3 #sbp3-total-charge{
  font-weight: bold;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#sbp3-total-charge div strike{
  text-decoration-line: line-through ;
  text-decoration-color: var(--primary) ;
  font-weight: normal;
  margin-bottom: 0;
}
#sbp3-total-charge div p{
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--primary);
}

#have-code{
  text-align: center;
  font-weight: bold;
  padding: 2rem;
  font-size: 1rem;
  color: var(--text);
}

#finish{
  padding: 10px 10%;
  width: 312px;
  text-align: center;
  margin: 0 20px;
}