<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>سفارش سیب تامبولی</title>

    <link rel="stylesheet" href="../../../portfolio/static/portfolio/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../portfolio/static/portfolio/css/style.css">
    <link rel="stylesheet" href="../../static/shop/css/order.css">
    <link rel="stylesheet" href="../../../portfolio/static/portfolio/fontawesome/css/all.min.css">
</head>
<body>
<header class="shadow">
    <nav class="navbar rtl container wrapper">
        <a id="navbar-logo" href="#">
            <img src="../../../portfolio/static/portfolio/img/logo-site2.png" alt="لوگو سیب تامبولی">
        </a>
        <div id="navbar-left-side">
            <div id="navbar-links" class="navbar-nav">
                <a class="nav-link" href="#">سفارش اینترنتی</a>
                <a class="nav-link" href="#">قوانین سایت</a>
            </div>
            <div id="login-btn">
                <a href="#" class="btn btn-primary"><i class="fal fa-user ml-2"></i>ورود | عضویت </a>
            </div>
            <button id="navbar-toggler" class="navbar-toggler" type="button">
                <i class="fal fa-bars"></i>
            </button>
        </div>

    </nav> <!-- /.navbar -->
    <div id="navbar-collpase" class=" pb-3 pb-sm-0">
        <a class="navbar-collapse-link" href="#">ورود | عضویت </a>
        <a class="navbar-collapse-link" href="#">سفارش اینترنتی</a>
        <a class="navbar-collapse-link" href="#">قوانین سایت</a>
    </div>
</header>
<main>
    <div id="top-banner" class="rtl ">
        <h1 id="top-banner-title">سیب تامبولی تهران</h1>
        <small>آدرس: تهران، شهرک غرب، میدان کتاب، شماره 2</small>
        <div id="delivery-state"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i
                class="fa fa-circle fa-stack-1x "></i></span> سفارش می پذیریم
        </div>
        <div id="delivery-time">
            <strong>میانگین زمان تحویل</strong>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <label>حضوری:</label>
                    <span>تا 30 دقیقه |</span>
                </li>
                <li class="list-inline-item">
                    <label>ارسال با پیک:</label>
                    <span>تا 120 دقیقه</span>
                </li>
            </ul>
        </div>
    </div> <!--/#top-banner -->

    <div id="panel-container" class="rtl wrapper">
        <div id="order-panel">
            <div class="category">
                <h3>گوشت</h3>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="001" price="100" title="تکه گوشت مرغ">
                            <img src="../../static/shop/svg/chicken-leg.svg" alt="">
                            <h4 class="food-title">تکه گوشت مرغ</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">100,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->
                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="002" price="100" title="سوسیس">
                            <img src="../../static/shop/svg/sausage.svg" alt="">
                            <h4 class="food-title">سوسیس</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">20,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->
                </div>
            </div> <!--/.category-->
            <div class="category">
                <h3>سالاد</h3>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="003" price="100" title="سالاد فصل">
                            <img src="../../static/shop/svg/salad.svg" alt="">
                            <h4 class="food-title">سالاد فصل</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">100,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->
                </div>
            </div> <!--/.category-->
            <div class="category">
                <h3>سس</h3>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="004" price="100" title="سس مایونز">
                            <img src="../../static/shop/svg/mayonnaise.svg" alt="">
                            <h4 class="food-title">سس مایونز</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">20,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->
                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="005" price="100" title="سس کچاپ">
                            <img src="../../static/shop/svg/ketchup.svg" alt="">
                            <h4 class="food-title">سس کچاپ</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity">1</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">20,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->

                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="006" price="100" title="خردل">
                            <img src="../../static/shop/svg/mustard.svg" alt="">
                            <h4 class="food-title">خردل</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">10,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->
                </div>
            </div> <!--/.category-->
            <div class="category">
                <h3>مخلفات</h3>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="007" price="100" title="قارچ">
                            <img src="../../static/shop/svg/mushroom.svg" alt="">
                            <h4 class="food-title">قارچ</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">20,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->
                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="008" price="100" title="هویج خرد شده">
                            <img src="../../static/shop/svg/carrot.svg" alt="">
                            <h4 class="food-title">هویج خرد شده</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0"></div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">20,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->

                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="009" price="100" title="ذرت">
                            <img src="../../static/shop/svg/corn.svg" alt="">
                            <h4 class="food-title">ذرت</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">10,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->

                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="010" price="100" title="نخود">
                            <img src="../../static/shop/svg/peas.svg" alt="">
                            <h4 class="food-title">نخود</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">20,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->

                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="011" price="100" title="خیارشور">
                            <img src="../../static/shop/svg/pickles.svg" alt="">
                            <h4 class="food-title">خیارشور</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">20,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->

                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="012" price="100" title="پنیر پیتزا">
                            <img src="../../static/shop/svg/pizza.svg" alt="">
                            <h4 class="food-title">پنیر پیتزا</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">20,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->

                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="013" price="100" title="کلم قرمز">
                            <img src="../../static/shop/svg/red-cabbage.svg" alt="">
                            <h4 class="food-title">کلم قرمز</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">20,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->
                </div>
            </div> <!--/.category-->
            <div class="category">
                <h3>نوشیدنی</h3>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="014" price="100" title="نوشابه">
                            <img src="../../static/shop/svg/soda.svg" alt="">
                            <h4 class="food-title">نوشابه</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">20,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->
                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="015" price="100" title="دوغ">
                            <img src="../../static/shop/svg/milk.svg" alt="">
                            <h4 class="food-title">دوغ</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">20,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->

                    <div class="col-12 col-sm-6 col-md-4 ">
                        <div class="food-item" food-id="016" price="100" title="آب">
                            <img src="../../static/shop/svg/water.svg" alt="">
                            <h4 class="food-title">آب</h4>
                            <div class="control">
                                <i class="plus fal fa-plus-circle"></i>
                                <div class="quantity" quantity="0">0</div>
                                <i class="minus fal fa-minus-circle"></i>
                            </div>
                            <p class="price">10,000 تومان</p>
                            <div class="clearfix"></div>
                        </div> <!-- /.food-item-->
                    </div> <!-- /.col-->
                </div>
            </div> <!--/.category-->
        </div> <!-- /#order-panel -->
        <div id="shopping-basket" class="rtl">
            <div id="sbp1">
                <i id="sbp1-garbage" class="fal fa-trash-alt"></i>
                <h3 id="sbp1-title"> سبد خرید<span>&nbsp;(3)</span></h3>
                <div class="clearfix"></div>
            </div> <!---->
            <div class="sbp2">
                <div class="sbp2-right">
                    <h3 class="sbp2-title">تکه گوشت مرغ</h3>
                    <div class="sbp2-price">300,000 تومان</div>
                </div>
                <div class="control">
                    <i class="plus fal fa-plus-circle"></i>
                    <div class="quantity">4</div>
                    <i class="minus fal fa-minus-circle"></i>
                </div> <!-- /.control-->
            </div> <!--/.sbp2-->

            <div id="sbp3">
                <div id="sbp3-discount">
                    <p>تخفیف:</p>
                    <p> 10,000 تومان</p>
                </div>
                <div id="sbp3-total-charge">
                    <p>هزینه کل:</p>
                    <div>
                        <strike>10,000 تومان</strike>
                        <p>9,000 تومان</p>
                    </div>
                </div>
            </div><!--/#sbp3-->
            <h3 id="have-code">کد تخفیف دارید؟</h3>
            <div id="finish" class="btn btn-primary">نهایی کردن سفارش</div>
        </div> <!--/#shopping-basket-->
    </div> <!-- /#panel-container -->


</main>


<script src="../../../portfolio/static/portfolio/js/jquery-1.12.4.min.js"></script>
<script src="../../../portfolio/static/portfolio/js/bootstrap.min.js"></script>
<script src="../../../portfolio/static/portfolio/js/persianumber.js"></script>
<script src="../../static/shop/js/order.js"></script>
</body>
</html>
